.categoryOutput_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 7.5%;
  font-size: 1.5rem;
  padding-bottom: 15vh;
  width: 100%;
  margin: 0 auto 0 auto;
  min-height: 100vh;
}

.categoryOutput_wrapper p {
  justify-content: center;
}

.pin_list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
