.searchbar_article {
  display: flex;
  justify-content: space-between;
  padding-top: 7.5%;
}

.searchbar {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.search_input {
  padding: 5% 0 5% 15%;
  font-size: 2.5rem;
  border: none;
  margin-left: 7.5%;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  color: var(--firstBoxShadowColor);
}

.search_input::placeholder {
  color: var(--firstBoxShadowColor);
  font-size: 2.5rem;
  font-weight: 100;
  opacity: 0.5;
  font-family: inter;
  font-weight: 200;
}

.search_input::-ms-input-placeholder {
  color: var(--firstBoxShadowColor);
  font-size: 2rem;
  font-weight: 100;
}

.search_icon {
  position: absolute;
  left: 10%;
  top: 20%;
  height: 25px;
  color: var(--firstBoxShadowColor);
  opacity: 0.75;
}

.filterbar {
  display: flex;
}

.filterbar_icon {
  background-color: var(--firstBGColor);
  padding: 10%;
  border-radius: 5px;
}

.filterbar_button {
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: inter;
  font-weight: 200;
  gap: 16px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: var(--firstButtonColor);
  color: white;
  margin-right: 7.5%;
}

.filterbar_button > span {
  font-size: 1.75rem;
}
