.categoryOutput_box_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.categoryOutput_box_info h2 {
  color: #120d26;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 25px;
}

.categoryOutput_box_info p {
  color: #5d3ede;
  font-size: 1.2rem;
  font-weight: 500;
}
.categoryOutput_location {
  display: flex;
  gap: 6px;
  font-size: 1.5rem;
  color: #a6a6a6;
}

.categoryOutput_location span {
  color: #747688;
  font-size: 1.3rem;
}
.categoryOutput_favorite {
  position: absolute;
  border: none;
  border-radius: 15px;
  padding: 2%;
  top: 1%;
  right: 5%;
}

.categoryOutput_box {
  display: flex;
  gap: 16px;
  border-radius: 15px;
  box-shadow: 0 0 10px #a6a6a6;
  padding: 5%;
  position: relative;
  text-decoration: none;
  margin-bottom: 10px;
}
.categoryOutput_box img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.deletebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  color: red;
  font-size: 2.4rem;
  border: none;
  background-color: transparent;
}

.wrapper {
  position: relative;
}
