.lila {
  color: violet;
  text-decoration: underline;
}

.creatorprofil_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.tabs {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tabs button {
  border: none;
  color: #747688;
  font-size: 1.6rem;
  letter-spacing: 1%;
  background-color: transparent;
  font-weight: 100;
}

.followbutton {
  width: 50%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid violet;
  border-radius: 15px;
  background-color: transparent;
}
