.wrapper {
  width: 85%;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 5vh;
}

.creatorprofil_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  margin: 0 auto 20px auto;
}

.tabs button {
  border: none;
  color: #747688;
  font-size: 1.6rem;
  letter-spacing: 1%;
  background-color: transparent;
  font-weight: 100;
  color: #a6a6a6;
  font-family: inter;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
}

.tabs .activeTab {
  color: #5d3ede;
  border-bottom: 1px solid #5d3ede;
  padding-bottom: 10px;
}

.followbutton {
  width: 50%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #5d3ede;
  color: #a6a6a6;
  font-weight: 100;
  border-radius: 15px;
  background-color: transparent;
  font-family: inter;
  height: 47px;
}

.activefollowbutton {
  height: 47px;
  width: 50%;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #00ecaa;
  color: #5d3ede;
  border-radius: 15px;
  background-color: #00ecaa;
}

.button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 20px auto;
}

.button a {
  width: 50%;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 1.6rem;
  border: 1px solid #5d3ede;
  color: #a6a6a6;
  border-radius: 15px;
}

.followdiv {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 15px 0 20px 0;
}

.light {
  color: #a6a6a6;
  margin-top: 5px;
}

.description {
  font-size: 1.4rem;
  color: #a6a6a6;
  font-weight: 100;
  margin-bottom: 10px;
}
