.ratingCard {
  box-shadow: 0 0 10px #a6a6a6;
  width: 85%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 5%;
}

.stars {
  color: #00ecaa;
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.profilpic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.flexdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexdiv h3 {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.6rem;
}

.flexdiv div {
  display: flex;
  align-items: center;
}

.date {
  color: #a6a6a6;
}
