.wrapper {
  width: 85%;
  display: "flex";
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 20vh;
}

.profilimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  border: none;
  background-color: transparent;
  color: #747688;
  font-size: 1.6rem;
  letter-spacing: 1%;
  background-color: transparent;
  font-weight: 100;
  color: #a6a6a6;
  font-family: inter;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
}

.tabs .activeTab {
  color: #5d3ede;
  border-bottom: 1px solid #5d3ede;
  padding-bottom: 10px;
}

.aboutme {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 10px;
}

.description {
  font-size: 1.4rem;
  color: #a6a6a6;
  font-weight: 100;
  margin-bottom: 10px;
}

.editbutton {
  border-radius: 15px;
  border: 1px solid #5d3ede;
  display: flex;
  align-items: center;
  width: 35vw;
  padding: 5%;
  margin: 0 auto;
  gap: 10px;
}

.followdiv {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 15px 0 20px 0;
}

.light {
  color: #a6a6a6;
  margin-top: 5px;
}

.interests {
  background-color: #5d3ede;
  color: white;
  padding: 3% 5%;
  border-radius: 15px;
  display: inline-block;
}

.aroundinterests {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 5%;
  border: none;
  box-shadow: 0 0 10px #a6a6a6;
  border-radius: 15px;
  margin-bottom: 20px;
  color: #747688;
}

.profilimgedit {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: "cover";
  margin: 0 auto 30px auto;
  display: block;
}

.editimg {
  position: relative;
}

.imgupload img {
  position: absolute;
  bottom: 10px;
  right: 20vw;
}

.imgupload input {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
}

.textinput {
  width: 100%;
  height: 15vh;
  padding: 5%;
  border: none;
  box-shadow: 0 0 10px #a6a6a6;
  border-radius: 15px;
  margin-bottom: 20px;
  color: #747688;
}

.savebutton {
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  background-color: #5d3ede;
  color: white;
  font-size: 1.4rem;
  gap: 10px;
  font-family: inter;
  font-weight: 100;
  border: none;
  padding: 20px 0;
  border-radius: 10px;
  margin: 30px auto 0 auto;
}

.selectinterest {
  margin: 2% auto;
  background-color: transparent;
  border: 1px solid #5d3ede;
  width: 100%;
  padding: 3% 5%;
  font-size: 1.4rem;
  border-radius: 15px;
  cursor: "pointer";
  color: #5d3ede;
}

.addinterest {
  border: none;
  border-radius: 15px;
}

.addinterest select {
  background-color: #e6e6e6;
  border: none;
  border-radius: 15px 0 0 15px;
  font-size: 1.2rem;
  font-family: inter;
  font-weight: 100;
  padding: 10px;
  color: #747688;
}

.x {
  background-color: #747688;
  border: none;
  border-radius: 0 15px 15px 0;
  font-size: 1.2rem;
  font-family: inter;
  font-weight: 100;
  padding: 11px;
  color: #e6e6e6;
}

.dark .textinput {
  background-color: rgb(36, 36, 36);
  box-shadow: 0 0 10px #121212;
}

.dark .input {
  background-color: rgb(36, 36, 36);
  box-shadow: 0 0 10px #121212;
}

.dark .addinterest select {
  background-color: rgb(36, 36, 36);
}

.dark .x {
  background-color: rgb(36, 36, 36);
}
