.item_box {
  display: flex;
  gap: 16px;
  border-radius: 15px;
  box-shadow: 0 0 10px #a6a6a6;
  padding: 5%;
  position: relative;
  text-decoration: none;
  margin: 0 auto;
  width: 85%;
}

.item_box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px;
}

.item_box_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.item_box_info h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item_box_info p {
  color: #5d3ede;
  font-size: 1.2rem;
  font-weight: 500;
}

.item_location {
  display: flex;
  gap: 6px;
  font-size: 1.5rem;
  color: #a6a6a6;
}

.item_favorite {
  position: absolute;
  border: none;
  border-radius: 15px;
  padding: 2%;
  top: 1%;
  right: 5%;
}

a {
  text-decoration: none;
  font-size: 1em;
  font-family: inter;
  font-weight: 500;
  cursor: auto;
  color: #120d26;
  font-weight: 500;
  line-height: 25px;
}
