.wrapper {
  width: 85%;
  margin: 0 auto;
}

.favorite_section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 85vh;
  overflow: scroll;
}

.favorite_output_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 7.5%;
  font-size: 1.5rem;
}

.toggle_events {
  padding: 7.5px;
  background-color: var(--firstButtonColorOpacity);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.toggle_button {
  background-color: var(--secondButtonColor) !important;
  text-align: center;
  border-radius: 10px;
}

.reset_button_styles {
  color: white;
  opacity: 0.5;
  padding: 12.5px 25px 12.5px 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.favorite_button_wrapper {
  margin-top: auto;
  /* display: flex;
  margin: auto 0 50px 0; */
}

/* .favorite_button_wrapper button {
  margin-top: auto;
} */

/* --secondButtonColor */
