.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-weight: 500;
  font-size: 2.4rem;
}

.header a {
  color: black;
  font-size: 25px;
  border: none;
  text-decoration: none;
  font-weight: 400;
}

.button {
  color: #a6a6a6;
  height: 25px;
  padding: 5px 7.5px 5px 7.5px;
}

.border {
  background-color: transparent;
  border: none;
}

.dark .header a {
  color: white;
}
