.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-weight: 500;
  font-size: 1.6rem;
}

.header a {
  color: black;
  font-size: 25px;
  border: none;
  text-decoration: none;
  font-weight: 400;
}
