.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  animation: event 2s infinite;
}

.section span {
  font-size: 1.2rem;
  color: #876afd;
  font-weight: 100;
}

@keyframes event {
  0% {
    rotate: 0;
  }

  50% {
    rotate: 0.5turn;
  }
  100% {
    rotate: 1turn;
  }
}
