@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-VariableFont_slnt_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 100;
}

:root {
  --selectedColor: #00ecaa;
  --firstBGColor: #5d3ede;
  --firstButtonColor: #876afd;
  --secondButtonColor: #5d3ede;
  --firstButtonColorOpacity: #876afd50;
  --firstFontColor: #668be9;
  --firstBoxShadowColor: #a6a6a6;
}
